{% extends 'base.html.twig' %} {% block title %}Hello SandboxController!{% endblock %} {% block body %}

<div class="container my-5 pt-3">
  <p>{{ varName.name }}</p>
  <p>{{ varName['name'] }}</p>
  <p>{{ attribute(varName, 'name') }}</p>
</div>
{% endblock %}
